numpy
pandas
scikit-learn
xgboost
torch

streamlit
Interesting

transformers
sentence-transformers
faiss-cpu
huggingface-hub

matplotlib
plotly

python-dotenv
tqdm

google.generativeai

